# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
web_modules

dist

# misc
.DS_Store
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode

*.tar.gz

.eslintcache
.parcel-cache
